       <div class="detail_content">
        <ul class="detail_head">
            <li class="detail_arrow">&#xe601;</li>
            <li class="detail_menu">&#xe634;</li>
        </ul>
        
            
        <div class="detail_tit">李沁走路姿势也太难看了，得知真相后获赞中国好演员
        </div>
        <div class="detail_source_wrapper">
            <span class="detail_source_name">
            八吧八吧
            </span>&nbsp;
            <span class="detail_source_date">
            06-06
            </span>&nbsp;
            <span class="detail_source_time">
            00:00
            </span>&nbsp;
            <span class="detail_source_comment">
            155评
            </span>
        </div>
        <article class="detaitl_article">
            <p class="detail_passage">
                李沁现在有两部戏热播中，《白鹿原》与《楚乔传》均是口碑炸裂之作，而李沁在其中的表现也可圈可点，《白鹿原》中将一个无依无靠冲破封建牢笼却悲剧收场的女子刻画的入木三分，《楚乔传》迄今为止镜头并不多，无从判断其在剧中的表现1。
            </p>
            <div class="detail_img"></div>
            <p class="detail_passage">
                李沁现在有两部戏热播中，《白鹿原》与《楚乔传》均是口碑炸裂之作，而李沁在其中的表现也可圈可点，《白鹿原》中将一个无依无靠冲破封建牢笼却悲剧收场的女子刻画的入木三分，《楚乔传》迄今为止镜头并不多，无从判断其在剧中的表现2。
            </p>
            <div class="detail_img"></div>
            <p class="detail_passage">
                李沁现在有两部戏热播中，《白鹿原》与《楚乔传》均是口碑炸裂之作，而李沁在其中的表现也可圈可点，《白鹿原》中将一个无依无靠冲破封建牢笼却悲剧收场的女子刻画的入木三分，《楚乔传》迄今为止镜头并不多，无从判断其在剧中的表现3。
            </p>
            <div class="detail_img"></div>
            <p class="detail_passage">
                李沁现在有两部戏热播中，《白鹿原》与《楚乔传》均是口碑炸裂之作，而李沁在其中的表现也可圈可点，《白鹿原》中将一个无依无靠冲破封建牢笼却悲剧收场的女子刻画的入木三分，《楚乔传》迄今为止镜头并不多，无从判断其在剧中的表现4。
            </p>
            <div class="detail_img"></div>
        </article>
        <ul class="detail_feel">
                <li class="detail_like">
                    <span class="detail_like_icon">&#xe63f;</span>&nbsp;
                    <span class="detail_like_num">1</span>
                </li>
                <li class="detail_complaint">&#xe602;&nbsp;投诉</li>
        </ul>
        <div class="detail_gap"></div>
        <div class="detail_link_wrapper"></div>
        <div class="detail_comment_tit_wrapper">
            <span class="detail_commnet_tit">
            全部评论(29)
            </span>
        </div>
        
        <div class="detail_comment_lists">
            <div class="detail_comment_info">
                <div class="detail_comment_info_left">
                    <div class="detail_comment_user">良人昨夜情</div>
                    <span class="detail_comment_user_source">快报网友</span>&nbsp;
                    <span class="detail_comment_time">21小时前</span>
                </div>
                <div class="detail_comment_info_right">
                    <span class="comment_like_icon">&#xe6e1;</span>&nbsp;
                    <span class="comment_like_num">17</span>&nbsp;&nbsp;
                    <span class="comment_reply_icon">&#xe65a;</span>&nbsp;
                    <span class="comment_reply_text">回复</span>
                </div>
            </div>
            <div class="detail_comment_content">对她莫名的好感，不解释</div>
        </div>
    </div>
    <div class="detail_login_tip">您尚未登录，请登录</div>
    

    <div class="detail_footer_wrapper">
        <div class="detail_footer">
           <div class="comment_insert_wrapper">
            <input type="text" class="comment_insert" placeholder="说一下…">
            <textarea class="comment_insert_text" placeholder="优质评论将会在前排展示哦"></textarea>
            </div>
            <div class="comment_deliver">发表</div>
        </div>
        
    </div>
