<div class="login-wrapper">
        <div class="login">
           <div class="exit">&#xe66f;</div>
            <div class="top">
                <div class="left">
                    <span>账号登录</span>
                    <div class="left_underline"></div>
                </div>
                <div class="right">
                    <span>快捷登录</span>
                    <div class="right_underline"></div>
                </div>
                
            </div>
            <div class="middle">
                <div class="m_top">
                    <input type="text" class="inp1" placeholder="请输入手机号码">
                    <span class="cross1">&#xe60e;</span>

                    <input type="text" class="inp3" placeholder="请输入手机号">
                    <span class="cross3">&#xe60e;</span>

                    <div class="mes">发送验证码</div>
                </div>
                <input type="password" class="inp2" placeholder="请输入密码">
                <span class="cross2">&#xe60e;</span>
                <span class="inp2_icon">&#xe676;</span>
<!--                <span class="cross3">&#xe60e;</span>-->
                <input type="text" class="inp4" placeholder="请输入验证码">
                <span class="cross4">&#xe60e;</span>
            </div>
            <div class="bottom_left">登录</div>
            <div class="bottom">登录</div>
            <div class="login_pop">
                <span class="warning">&#xe606;</span>
                <span>手机号格式不正确</span>
            </div>
            <div class="login_unregistered">用户不存在，请注册</div>
            <div class="login_code_success">
                <span>&#xe607;</span>
                <span>验证码发送成功</span>
            </div>
            <div class="login_code">
                <span class="warning">&#xe606;</span>
                <span>验证码错误</span>
            </div>
            <div class="login_success">
                <span class="login_success_pwd"></span>
            </div> 
            <div class="login_error">
                <span>密码错误</span>
            </div>
            <div class="login_failure_error">操作失败，请重试</div>
            <ul class="link_site">
                <li class="quick_register">手机快速注册</li>
                <li class="reset_pw">找回密码</li>
            </ul>
        </div>
        
<!--
        <ul class="footer">
            <li class="items">
                <div class="icon">&#xe61c;</div>
                <div class="text">快报</div>
            </li>
            <li class="items">
                <div class="icon">&#xe618;</div>
                <div class="text">视频</div>
            </li>
            <li class="items">
                <div class="icon">&#xe60c;</div>
                <div class="text">关注</div>
            </li>
            <li class="items">
                <div class="icon">&#xe695;</div>
                <div class="text login_status">未登录</div>
            </li>
        </ul>
-->
    </div>