    <div class="register-wrapper">
        <div class="register">
            <div class="register-con">
                <span class="arrow">&#xe671;</span>
                <div class="register_tit">注册</div>
            </div>
            <ul class="input_tip_wrapper">
                <li class="input_tip">1输入手机号</li>
                <li class="input_tip">&#xe6b4;</li>
                <li class="input_tip">2输入验证码</li>
                <li class="input_tip">&#xe6b4;</li>
                <li class="input_tip">3设置密码</li>
            </ul>
            <div class="input_num_wrapper">
                <input type="text" class="input_num" placeholder="请输入11位手机号码">
                <span class="input_delete"></span>
            </div>
            <div class="input_code_wrapper">
                <input type="text" class="input_code" placeholder="请输入短信验证码">
                <div class="code_send">重新发送</div>
                <span class="code_shower"></span>
            </div>
            <div class="input_pw_wrapper">
                <input type="password" class="input_pw" placeholder="设置密码">
                <input type="password" class="input_pw" placeholder="确认密码">
            </div>
            <div class="code_get">发送验证码</div>
            <div class="code_submit">提交验证码</div>
            <div  class="click_submit">注册</div>
            <span class="submitted_tip">已有快报账号？点击直接登录。</span>
            <div class="code_get_pop">请输入正确的11位手机号码</div>
            <div class="code_submit_pop">验证码错误</div>
            <div class="submit_style_error">请输入6到16位数字或字符</div>
            <div class="submit_pop">密码不一致</div>
            <div class="submit_pop_error">注册失败,请重试</div>
            <div class="submitted_pop">该账号已注册，请直接登录</div>
        </div>
    </div>