<div class="reset-wrapper">
        <div class="reset">
            <div class="reset_con">
                <span class="arrow">&#xe671;</span>
                <div class="reset_tit">找回密码</div>
            </div>
            <ul class="reset_tip_wrapper">
                <li class="reset_tip">输入注册手机号码</li>
                <li class="reset_tip">&#xe6b4;</li>
                <li class="reset_tip">验证手机号码</li>
                <li class="reset_tip">&#xe6b4;</li>
                <li class="reset_tip">重置密码</li>
            </ul>
            <div class="reset_inp1_wrapper">
                <input type="text" class="reset_inp1" placeholder="请输入11位注册手机号码">
                <span class="reset_delete"></span>
            </div>
            <div class="reset_inp2_wrapper">
                <input type="text" class="reset_inp2" placeholder="请输入短信验证码">
                <div class="reset_code_send">重新发送</div>
                <span class="reset_code_shower"></span>
            </div>
            <div class="reset_inp3_wrapper">
                <input type="password" class="reset_inp3" placeholder="设置密码">
                <input type="password" class="reset_inp4" placeholder="确认密码">
            </div>           
            <div class="reset_tab1">下一步</div>
            <div class="reset_tab2">下一步</div>
            <div  class="reset_tab3">确定</div>
            <div class="unregistered_tip">还没注册？点此注册</div>
            <div class="reset_style_pop">请输入正确的11位手机号码</div>
            <div class="reset_unregistered_pop">该手机号码尚未注册，请注册</div>
            <div class="reset_code_pop">验证码错误</div>
            <div class="reset_pwd1_pop">请输入6到16位数字或字符</div>
            <div class="reset_pwd2_pop">密码不一致</div>
            <div class="reset_error_pop">操作失败，请重试</div>
        </div>
    </div>