   <header>
        <ul class="nav_list">
            <li class="nav">推荐</li>
            <li class="nav">视频</li>
            <li class="nav">热点</li>
            <li class="nav">直播</li>
            <li class="nav">关注</li>
            <li class="nav">娱乐</li>
        </ul>
        <span class="add_nav">&#xe7c4;</span>
    </header>
    <div class="list_search_wrapper">
        <div class="list_search_container">
            <span class="list_search_icon">&#xe600;</span>
            <input type="text" class="list_search" placeholder="搜索">
        </div>
    </div>
   
    <ul class="content">
        
        <li class="news clearFix">
            <a class="news_tit top_">没有什么是一包辣条解决不了的</a>
            <img src="../img/spaicy.jpg" width="100%" alt="">
            <div class="relative_info">
                <span class="source">胡说八道</span>
                <span class="eval_num">1420评</span>
                <span class="news_delete">&#xe772;</span>
            </div>
        </li>
        <li class="news clearFix">
            <a class="news_tit top_">没有什么是一包辣条解决不了的</a>
            <img src="../img/spaicy.jpg" width="100%" alt="">
            <div class="relative_info">
                <span class="source">胡说八道</span>
                <span class="eval_num">1420评</span>
                <span class="news_delete">&#xe772;</span>
            </div>
        </li>
        <li class="news clearFix">
            <a class="news_tit top_">没有什么是一包辣条解决不了的</a>
            <img src="../img/spaicy.jpg" width="100%" alt="">
            <div class="relative_info">
                <span class="source">胡说八道</span>
                <span class="eval_num">1420评</span>
                <span class="news_delete">&#xe772;</span>
            </div>
        </li>
        <li class="news clearFix">
            <a class="news_tit top_">没有什么是一包辣条解决不了的</a>
            <img src="../img/spaicy.jpg" width="100%" alt="">
            <div class="relative_info">
                <span class="source">胡说八道</span>
                <span class="eval_num">1420评</span>
                <span class="news_delete">&#xe772;</span>
            </div>
        </li>
    </ul>
    <ul class="footer">
            <li class="items">
                <div class="icon">&#xe61c;</div>
                <div class="text">快报</div>
            </li>
            <li class="items">
                <div class="icon">&#xe618;</div>
                <div class="text">视频</div>
            </li>
            <li class="items">
                <div class="icon">&#xe60c;</div>
                <div class="text">关注</div>
            </li>
            <li class="items">
                <div class="icon">&#xe695;</div>
                <div class="text">未登录</div>
            </li>
        </ul>
    <div class="leftSide-page">
        <div class="side-content">
           <span class="leftSide-page-arrow">&#xe601;</span>
            <div class="side_search_wrapper">
                <span class="side_search_icon">&#xe600;</span>
                <input type="text" class="side_search" placeholder="请输入关键词">
            </div>
            <a class="search-text">搜索</a>
            <ul class="sideHistory">
                <li class="sideHistory-list">历史搜索</li>
<!--
                 <li class="sideHistory-list">金星秀</li>
                  <li class="sideHistory-list">摔跤吧，爸爸</li>
                   <li class="sideHistory-list">2017高考</li>
-->
            </ul>
            <p class="delete-history">清除搜索历史</p>
        </div>
    </div>
    
    <div class="rightSide-page"></div>